# =========================
# Node.js (Backend & Frontend)
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Frontend (Vite / React)
# =========================
frontend/dist/
frontend/.vite/
frontend/node_modules/

# =========================
# Backend
# =========================
backend/node_modules/
backend/logs/
backend/*.log

# =========================
# Docker
# =========================
mongo-data/
docker-data/

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp

# =========================
# Coverage / Build artifacts
# =========================
coverage/

# ========================
# Terraform state files
#=========================
.terraform/
*.tfstate
*.tfstate.backup
terraform.tfvars
terraform.tfvars.json
