version: "3.8"

services:
  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
  backend:
    build: ./back-end
    container_name: backend
    restart: unless-stopped
    env_file:
      - ./back-end/.env
    ports:
    - "5000:5000"
    depends_on:
      - mongodb
  frontend:
    build: ./front-end
    container_name: frontend
    restart: unless-stopped
    ports:
      - "3000:80"
    depends_on:
      - backend
volumes:
  mongo-data:
