apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: kavithakumari062001/pf-frontend:latest
          ports:
            - containerPort: 80
          env:
            - name: VITE_API_BASE_URL
              value: http://backend:5000
