/* Introduction design */
.home{
    background-color: black;
    color: black;
    padding-bottom: 40px;
}
.Intro{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 25px 5px black inset; 
    background-image: 
    linear-gradient(to bottom, rgba(0, 0, 0, 0.043) 50%, rgb(0, 0, 0)), 
    url('https://media1.giphy.com/media/xUA7b4arnbo3THfzi0/giphy.gif'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
    /* background-color: purple; */
}
.Intro h1{
    font-size: 5ch;
    background: transparent;
    color: black;
}
.Intro p{
    padding: 5px 0px;
    background: transparent;
    width: 95%;
    color: black;
    font-weight: bold;
}
.forms{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px 0px; */
    /* box-shadow: 0px 0px 25px 5px white inset;
    color: white; */
    background-image: url("https://cdn.dribbble.com/users/6903/screenshots/1956820/media/06022d14e7fa7eaa196c9e6214557800.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: multiply;
}
.forms h1{
    font-size: 5ch;
    color: white;
    background: transparent;
}
.form-inputs{
    border: 1px solid rgba(128, 128, 128, 0.251);
    padding: 40px 30px 30px 30px;
    margin: 50px 0px 20px 0px;
    backdrop-filter: blur(2px);
    border-radius: 20px;
}
.form-inputs:hover{
    border: 1px solid white;
    box-shadow: 0px 0px 40px 1px rgb(107, 106, 106) inset;
}
.input{
    background-color: transparent;
    width: 300px;
    height: 50px;
    /* border: none; */
    color: white;
    padding-left: 15px;
    margin: 5px 0px 50px 0px;
    font-family: 'Courier New', Courier, monospace;
}
.textarea{
    height: 100px;
    width: 300px;
    background: transparent;
    margin-bottom: 10px;
    padding: 5px;
    color: white;
}
.button{
    height: 40px;
    width: 200px;
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    transition: 1s ease-in-out;
    margin: 20px 0px;
    cursor: pointer;
    color: white;
}
.button:hover{
    background: red;
    border: 1px solid red;
}
.my-contacts{
    text-align: center;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}
.my-contacts h1{
    color: white;
    font-size: 5ch;
    padding: 15px 0px;
}
.my-contacts ul{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.my-contacts ul li{
    margin: 10px 0;
    transition: color 0.3s ease;
}
@media (max-width: 320px){
    .Intro{
        align-items: flex-start;
        padding: 0px 10px;
    }
    .input{
        width: 200px;
    }
    .textarea{
        width: 200px;
    }
    .my-contacts ul li{
        font-size:10px;
    }
    .forms h1, .Intro h1, .my-contacts h1{
    font-size: 3ch;
    }
}