version: "3.8"
services:
  mongodb:
    image: mongo:4.4
    container_name: mongodb
    restart: unless-stopped
    volumes:
      - mongo-data:/data/db
  backend:
    image: "kavithakumari062001/pf-backend:{{  IMAGE_TAG }}"
    container_name: backend
    restart: unless-stopped
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
  frontend:
    image: "kavithakumari062001/pf-frontend:{{ IMAGE_TAG }}"
    container_name: frontend
    restart: unless-stopped
    ports:
      - "80:80"
    depends_on:
      - backend
volumes:
  mongo-data:
